FACEBOOK_ID = SKIP
FACEBOOK_SECRET = SKIP
FACEBOOK_CALLBACK = http://localhost:3000/auth/facebook/callback
SESSION_SECRET=ThisIsMySecret
MONGODB_URI= mongodb+srv://Yulia:alphacamp@cluster0.1jpm4cg.mongodb.net/restaurant-list?retryWrites=true&w=majority